<!doctype html>
<html lang="es" ng-app="padronApp">
<head>
  <meta charset="utf-8">
  <title>Consultar padrón electoral</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.9.0/ui-bootstrap-tpls.min.js"></script>
  <script src="js/controllers.js"></script>

  <meta property="og:title" content="Consultar padrón electoral">
  <meta property="og:type" content="website">
  <meta property="og:description" content="¿Ya sabe adónde votar? Consulte aquí, con su número de cédula, la mesa donde debe presentarse.">
  <meta property="og:url" content="http://votocr.org/">
  <meta property="og:image" content="http://softwarelibre.ucr.ac.cr/archivos/votocr.png">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Consultar padrón electoral">
  <meta name="twitter:description" content="¿Ya sabe adónde votar? Consulte aquí, con su número de cédula, la mesa donde debe presentarse.">
  <meta name="twitter:image" content="http://softwarelibre.ucr.ac.cr/archivos/votocr.png">
</head>
<body ng-controller="PadronCtrl">
<div class="container-fluid">
  <div class="row-fluid">
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">#VotoCR</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Otros sitios <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://www.tse.go.cr/elecciones.htm">TSE</a></li>
            <li><a href="http://www.ojoalvoto.com/">Ojo al Voto</a></li>
          </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/info.html"><span class="glyphicon glyphicon-question-sign"></span></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>

    <div class="col-md-4">
      <form class="form-horizontal" ng-submit="search()">
        <fieldset>
          <legend>Consultar padrón electoral</legend>

          <div class="form-group">
            <label class="col-xs-3 col-s-3 col-md-4 control-label" for="cedula">Cédula</label>
            <div class="col-xs-6 col-s-6 col-md-5">
              <input id="cedula" name="cedula" type="search"
              placeholder="123456789" class="form-control input-md"
              required="" ng-model="cedula" autofocus />
              <p class="help-block">Número de cédula a consultar,
              deben ser nueve dígitos.</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-4">
              <button id="submit" name="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Buscar</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-md-8" ng-init="found=-1;">
      <div ng-show="found==1">
        <div class="panel panel-primary" ng-repeat="persona in personas">
          <div class="panel-heading">
            <strong>{{persona.Nombre}} {{persona.Apellido1}}
              {{persona.Apellido2}}</strong>
          </div>
          <div class="panel-body">
            <table class="table">
              <tbody>
              <tr>
                <td>Cédula:</td>
                <td>{{persona.Cedula}}</td>
              </tr>
              <tr>
                <td>Mesa de votación:</td>
                <td>{{persona.Mesa}}</td>
              </tr>
              <tr>
                <td>Centro de votación:</td>
                <td><a href="{{persona.Url}}">{{persona.Centro}}</a></td>
              </tr>
              <tr>
                <td>Dirección:</td>
                <td>{{persona.Direccion}}<br>
                  {{persona.Provincia}}<br>
                  {{persona.Canton}}<br>
                  {{persona.Distrito}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div ng-show="found==0">
        <p>No se encontraron datos.</p>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-fixed-bottom">
  <div class="btn-group">
    <button class="btn btn-default disabled">Compartir:</button>
    <a class="btn btn-default" href="http://www.facebook.com/sharer.php?u=http://votocr.org/&t=VotoCR"><i class="fa fa-thumbs-o-up fa-lg fb"></i></a>
    <a class="btn btn-default" href="http://twitter.com/share?url=http://votocr.org/&text=VotoCR"><i class="fa fa-twitter fa-lg tw"></i></a>
    <a class="btn btn-default" href="https://plus.google.com/share?url=http://votocr.org/"><i class="fa fa-google-plus fa-lg google"></i></a>
  </div>
</div>
</body>
</html>
